html,
body {
  margin: 0;
  padding: 0;
  min-height: 80vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.structure {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#walker {
  position: relative;
  display: flex;
}

.title {
  transform: rotate(-90deg);
  position: fixed;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: black;
  padding: 5px;
  top: 1rem;
  left: -1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

hr {
  width: 40%;
  height: 2px;
  background-color: white;
}

main {
  position: relative;
  width: 43%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

@keyframes move-main {
  from {
    width: 43%;
  }
  to {
    transform: translateX(-150rem);
    width: 0%;
    transition: width 0.25s ease-in;
  }
}

main p {
  text-align: center;
}

ul {
  font-size: 22px;
  color: #4068ee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  display: block;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 16px;
  white-space: nowrap;
}

h1 {
  color: rgba(255, 255, 255);
  text-shadow: black 5px 5px 5px;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 5rem;
  width: 160px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: white;
  border: none;
  border-radius: 5px;
  transform: scale(1.5);
}

button,
button span {
  transition: 200ms;
}

button .text {
  font-family: "Montserrat", sans-serif;
  transform: translateX(30px);
  color: black;
  font-weight: bold;
}

button .icon {
  color: black;
  position: absolute;
  transform: translateX(50px) translateY(-10px);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: #1b1079;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(5px) translateY(-10px);
  display: flex;
  align-items: center;
  color: white;
}

button:focus {
  outline: none;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
}

.countries {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  filter: grayscale(80%);
}

@keyframes move-countries {
  from {
    filter: grayscale(80%);
  }
  to {
    filter: unset;
    width: 100%;
    transition: width 0.25s ease-in;
    height: 50%;
    margin-top: 10%;
  }
}

.choose {
  display: none;
  color: white;
  opacity: 0;
}

@keyframes chooseAnim {
  to {
    opacity: 1;
    font-size: 25px;
  }
}

.continent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  cursor: pointer;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 100%;
  height: 10rem;
  border-radius: 16px;
  font-size: 1.8rem;

  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.europe-background {
  background: url("europe.jpg");
  background-size: cover;
  background-position: center;
}

.europe {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.oceania-background {
  background: url("oceania.jpg");
  background-size: cover;
  background-position: center;
}

.oceania {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.southAmerica-background {
  background: url("southAmerica.jpg");
  background-size: cover;
  background-position: center;
}

.southAmerica {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.asia-background {
  background: url("asia.jpg");
  background-size: cover;
  background-position: center;
}

.asia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

#continent-europe,
#continent-oceania,
#continent-southAmerica,
#continent-asia {
  transform: scale(0.75);
}

@keyframes width-box-continent {
  to {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 200%; */
  }
}

.container-bottom {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: 2px solid white;
  background-color: white;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

@keyframes country-develop {
  to {
    height: 30rem;
    transition: height 0.25s ease-in;
  }
}

.spain {
  background-size: cover;
  background-position: 45%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
  padding: 0;
}

.spain p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

@keyframes spainBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("spain.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
  }
}

.greece {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.greece p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

@keyframes greeceBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("greece.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
  }
}

.australia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.australia p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

@keyframes australiaBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("australia.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}

.new-caledonia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.new-caledonia p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  white-space: nowrap;
}

@keyframes newCaledoniaBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("new-caledonia.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}

.chile {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.chile p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

@keyframes chileBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("chile.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}

.costa-rica {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.costa-rica p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}

@keyframes costaRicaBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("costa-rica.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}

.thailand {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.thailand p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}

@keyframes thailandBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("thailand.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}

.united-arab-emirates {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.united-arab-emirates p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}

@keyframes uaeBg {
  to {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.8) 80%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("dubai.jpg");
    background-size: cover;
    height: 100%;
    transition: all 1s ease-in;
    background-position: center;
  }
}
