html {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0;
}

video {
  position: absolute;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  width: auto;
  margin: 0;
}

.hidden {
  display: none;
}

#bird {
  position: relative;
  display: flex;
}

.title {
  transform: rotate(-90deg);
  position: fixed;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: black;
  padding: 5px;
  top: 1rem;
  left: -1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

hr {
  width: 40%;
  height: 2px;
  background-color: white;
}

main {
  position: relative;
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

main p {
  text-align: center;
}

h1 {
  color: rgba(255, 255, 255);
  text-shadow: black 5px 5px 5px;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin: 5rem;
  width: 160px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: white;
  border: none;
  border-radius: 5px;
  transform: scale(1.5);
}

button,
button span {
  transition: 200ms;
}

button .text {
  transform: translateX(20px);
  color: black;
  font-weight: bold;
}

button .icon {
  color: black;
  position: absolute;
  border-left: 1px solid #1b1079;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: #1b1079;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
  color: white;
}

button:focus {
  outline: none;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.5;
}

.countries {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.continent {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 100%;
  height: 10rem;
  border-radius: 16px;
  font-size: 1.8rem;

  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.europe-background {
  background: url("europe.jpg");
  background-size: cover;
  background-position: center;
}

.europe {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.oceania-background {
  background: url("oceania.jpg");
  background-size: cover;
  background-position: center;
}

.oceania {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.southAmerica-background {
  background: url("southAmerica.jpg");
  background-size: cover;
  background-position: center;
}

.southAmerica {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

.asia-background {
  background: url("asia.jpg");
  background-size: cover;
  background-position: center;
}

.asia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 16px;
}

#continent-europe,
#continent-oceania,
#continent-southAmerica,
#continent-asia {
  transform: scale(0.75);
}

.container-bottom {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: 2px solid white;
  background-color: white;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  font-size: 1.4rem;
  font-weight: bolder;
}

@keyframes country-develop {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

@keyframes country-position {
  from {
    text-align: center;
  }
  to {
    text-align: top;
  }
}

.spain {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 45%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
  padding: 0;
}

.spain p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.greece {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.greece p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.australia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.australia p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.new-caledonia {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.new-caledonia p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  white-space: nowrap;
}

.chile {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.chile p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.costa-rica {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.costa-rica p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}

.thailand {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-right: 2px solid white;
}

.thailand p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}

.united-arab-emirates {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-left: 2px solid white;
}

.united-arab-emirates p {
  color: rgb(0, 0, 0);
  letter-spacing: 2px;

  white-space: nowrap;
}
