@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.hidden {
  display: none;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

main {
  width: 100%;
  color: black;
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 20px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

h1 {
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.background {
  background-image: url("earth.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  animation: 300s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.countries {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.continent {
  position: relative;
  width: 22%;
  display: none;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 100%;
  height: 15%;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 35%;
  font-size: 1.8rem;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
  background-color: white;
  border-bottom: 1px solid #999999;
}

.europe-background {
  background: linear-gradient(
    to bottom,
    hsla(101, 78%, 64%, 0.75) 0%,
    #ffffff 100%
  );
}

.oceania-background {
  background: linear-gradient(
    to bottom,
    hsla(204, 78%, 64%, 0.75) 0%,
    #ffffff 100%
  );
}

.southAmerica-background {
  background: linear-gradient(
    to bottom,
    hsla(34, 78%, 64%, 0.75) 0%,
    #ffffff 100%
  );
}

.asia-background {
  background: linear-gradient(
    to bottom,
    hsla(0, 78%, 64%, 0.75) 0%,
    #ffffff 100%
  );
}

.container-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 60%;
  width: 100%;
  border: 2px solid white;
  background-color: white;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.4rem;
  font-weight: bolder;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
}

.spain {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("spain.jpg");
  background-size: cover;
  background-position: 45%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spain p {
  transform: rotate(-90deg);
  color: rgba(255, 255, 255);
  text-shadow: black 5px 5px 5px;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.greece {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("greece.jpg");
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greece p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.australia {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("australia.jpg");
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.australia p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.new-caledonia {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("new-caledonia.jpg");
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-caledonia p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.chile {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("chile.jpg");
  background-size: cover;
  background-position: 55%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chile p {
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.costa-rica {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("costa-rica.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costa-rica p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.thailand {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("thailand.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thailand p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.united-arab-emirates {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("dubai.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.united-arab-emirates p {
  transform: rotate(-90deg);
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}
